// $theme-colors: #efefef, #4545a5, #6c757d, #28a745, #17a2b8, #ffc107, #dc3545,
//   #fbfbfb, #343a40;

$gray: #efefef;
$primary: #4545a5;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;

$enable-shadows: true !default;