@media screen and (max-width: 1600px) {
  .xxl {
    max-width: 1600px;
    // width: 1540px;
    margin: 0 auto;
  }

  .left-chat {
    div,
    form {
      display: none !important;
    }
  }
}

@media screen and (max-width: 1400px) {
  .logo {
    margin-right: auto;
  }

  .nav-text {
    display: none;
  }

  .nav-icons {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 990px) {
  .right-side {
    display: none !important;
  }

  nav {
    .nav-tabs {
      border-top-right-radius: 1rem;
    }
  }

  .contact {
    border-bottom-right-radius: 1rem;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    margin-top: 48px !important;
    padding-left: 24px;
  }

  .right-side {
    display: none;
  }

  .dialog-message {
    .avatar {
      display: none;
    }
  }

  .left-chat {
    padding: 0;
  }

  .message-form {
    margin: 0;
  }

  .left-side {
    border-bottom-left-radius: 0;
  }

  .chat-icon {
    display: block;
  }

  .nav {
    position: absolute;
    top: calc(100% - 72px);
    border-top-left-radius: 0 !important;
  }

  .logo {
    margin-right: auto;
  }

  nav {
    .nav-tabs {
      border-bottom: none;
      border-radius: 0;
    }
  }

  .nav-icons {
    margin-right: 3rem;
  }

  .nav-text {
    display: none;
  }

  .container {
    .row {
      padding: 0 !important;
    }
  }
}
