.border-right {
  border-right: 1px solid $gray;
}

.gray-bg {
  background: $gray;
}

.white-bg {
  background: white;
}

.light {
  color: $light;
}

.align-center {
  align-items: center;
}

.pt-3rem {
  padding-top: 3rem;
}

.py-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pl-1-5rem {
  padding-left: 1.5rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.text-responsive-80 {
  font-size: calc(80% + 1vw + 1vh);
}

.h-100 {
  height: 100%;
}

.h-calc-72 {
  height: calc(100% - 72px);
}
