.border-right {
  border-right: 1px solid $gray;
}

.h-100vh {
  height: 100vh;
}

.gray-bg {
  background: $gray;
}

.white-bg {
  background: white;
}

.light {
  color: $light;
}

.align-center {
  align-items: center;
}

.pt-3rem {
  padding-top: 3rem;
}

.py-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}
