$borders: (
  right: 1px solid #efefef,
  left: 1px solid #efefef,
  bottom: 1px solid #efefef,
  top: 1px solid #efefef,
);


@each $border, $value in $borders {
  .border-sm-#{$border} {
    border-#{$border}: $value!important;
  }

  .border-md-#{$border} {
    border-#{$border}: $value!important;
  }

  .border-lg-#{$border} {
    border-#{$border}: $value!important;
  }

}

.border {
  border: 1px solid #efefef;
}