.radius-left-bottom {
  border-bottom-left-radius: 1rem;
}

.radius-left-top {
  border-top-left-radius: 1rem;
}

.radius-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
