$radius: (
  top-left-radius: 1rem,
  top-right-radius: 1rem,
  bottom-right-radius: 1rem,
  bottom-left-radius: 1rem,
);

@each $border-radius, $value in $radius {
  .#{$border-radius} {
    border-#{$border-radius}: $value !important;
  }
}

.radius {
  border-radius: 1rem;
}

.radius-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.radius-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
