.pt-3rem {
  padding-top: 3rem;
}

.pl-1-5rem {
  padding-left: 1.5rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.padding-y-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-1-5rem {
  padding: 1.5rem;
}

.pt5 {
  padding-top: 5px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.text-responsive-80 {
  font-size: calc(80% + 1vw + 1vh);
}

.align-center {
  align-items: center;
}

.max-w-558 {
  max-width: 558px;
}

.text-overflow {
  text-overflow: ellipsis;
}

.font-12-8 {
  font-size: 12.8px;
}

.font-16 {
  font-size: 16px;
}

.hide-scroll {
  @include hide-scrollbar;
}
