.contact {
  display: flex;
  flex-direction: column;
  // border-top: 1px solid $gray;
  @include hide-scrollbar;
}

.contact-li {
  list-style-type: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contact-name {
  font-weight: bold;
  color: black;
}

.contact-status {
  color: $secondary;
  font-weight: normal;
  font-size: 12.8px;
}

h6 {
  border-top: 1px solid $gray;
}

.search {
  padding: 14px 0;
}

.welcome {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  height: fit-content;
  text-align: center;

  img {
    border-radius: 50%;
  }
}
