.left-side {
  height: calc(100% - 72px);
  padding-right: 12px;
  padding-left: 12px;
  border-bottom-left-radius: 1rem;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: initial;
}

.chat-icon {
  display: none;
}

.hover-purple:hover {
  background-color: #4545a5;

  .contact-name,
  .contact-status,
  .message {
    color: #fff !important;
  }
}

.pointer {
  cursor: pointer;
}

.time {
  margin-right: 40px;
  margin-left: auto;
  color: $secondary;
}

h2 {
  font-size: 32px !important;
}

.search-form {
  margin-bottom: 48px;
}
