.left-side {
  height: calc(100% - 72px);
  // padding-top: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom-left-radius: 1rem;
//   margin: 0;
//   flex-direction: column;
//   flex-wrap: nowrap;
}

.list-group-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: initial;
}

.chat-icon {
  display: none;
}

.hover-purple:hover {
  background-color: #4545a5;

  .contact-name,
  .contact-status,
  .message {
    color: #fff !important;
  }
}

.pointer {
  cursor: pointer;
}

.time {
  color: $secondary;
  margin-left: auto;
}

h2 {
  font-size: 32px !important;
}