.primary {
  background: $primary;
}

.nav {
  margin: 0;
  height: 72px;
  width: 100%;
  border-top-left-radius: 1rem;
  font-size: 12.8px;
  padding: 24px;
}

.nav-icons {
  margin-right: 2px;
}

.gray-bg {
  background-color: $gray;
}

body {
  margin: 0 auto;
  overflow: hidden;
}

.search {
  border: none;
}

.container.xxl {
  height: 100vh;
}
