.row.header.primary.light.align-center 
    img(src="images/icons/logo.svg", alt="Hexlet Logo" width="16" height="25" class="mr-5")
    img(src="images/icons/people.svg", alt="Contact" width="18.8" height="25" class="mr-2")
    span.mr-4 Контакты
    img(src="images/icons/chat.svg", alt="Messages" width="25" height="23.3" class="mr-2")
    span.mr-4 Сообщения
    img(src="images/icons/person.svg", alt="Profile" width="18.75" height="18.75" class="mr-2")
    span Профиль 