.row.nav.primary.light.align-center 
    img.logo(src="images/icons/logo.svg", alt="Hexlet Logo")
    a(href="#") 
        img.nav-icons(src="images/icons/people.svg", alt="Contact" width="18.8" height="25")
        span.nav-text.mr-4 Контакты
    a(href="#") 
        img.nav-icons(src="images/icons/chat.svg", alt="Messages" width="25" height="23.3")
        span.nav-text.mr-4 Сообщения
    a(href="#")     
        img.nav-icons(src="images/icons/person.svg", alt="Profile" width="18.75" height="18.75")
        span.nav-text Профиль 