                .right-side.col-lg-8.white-bg.m-0.p-0
                    .welcome 
                        img(src="/images/avatar_1.jpg",  alt="Avatar")
                        p.contact-name Привет, Кодовёнок
                        p.contact-status.text-responsive-80 Выбери чат, чтобы начать общаться