.right-side.col-lg-8.white-bg.m-0.p-0.radius-right
    .welcome 
        img.pb-1rem(src="images/avatar_1.jpg",  alt="Avatar")
        p.m-0.contact-name Привет, Кодовёнок
        p.m-0.contact-status.text-responsive-80 Выбери чат, чтобы начать общаться