.chat-head.d-flex.py-20.pl-3.border-sm-bottom
    img.avatar(src="images/avatar_4.jpg" alt="Вениамин Редакторович")
    .pl-1-5rem
        p.contact-name.m-0.pb-1 Вениамин Редакторович
        p.contact-status.m-0.text-responsive-80 Онлайн