doctype html
html(lang="en")
    include _headd
    body.gray-bg
        .container.xxl 
            .row.p-4.h-100
                .col-lg-4.border-right.p-0.h-100
                    include _nav.pug
                    include poruke.pug
                    //- include _contacts.pug
                include _right-side.pug