doctype html
html(lang="en")
    include xx.pug
    body.gray-bg
        .container.xxl 
            .row.p-4.h-100
                .col-lg-4.border-right.p-0.h-100
                    include _header.pug
                    include _left-side.pug
                include _right-side.pug