nav
    #nav-tab.nav.nav-tabs.primary-bg.light.align-center.top-left-radius(role="tablist")
        img.logo(src="images/icons/logo.svg", alt="Hexlet Logo")
        a.nav-link.active#nav-contact-tab(href="#contacts" data-toggle="tab" role="tab" aria-controls="contacts" aria-selected="true") 
            img.nav-icons(src="images/icons/people.svg", alt="Contact" width="19" height="25")
            span.nav-text Контакты
        a.nav-link#nav-chats-tab(href="#chats" data-toggle="tab" role="tab" aria-controls="chats" aria-selected="false") 
            img.nav-icons(src="images/icons/chat.svg", alt="Messages" width="25" height="23")
            span.nav-text Сообщения
        a.nav-link#nav-profile-tab(href="#profile" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false")     
            img.nav-icons(src="images/icons/person.svg", alt="Profile" width="19" height="19")
            span.nav-text Профиль