.left-side.row.white-bg.m-0.pt-3rem.flex-column.flex-nowrap
    h2.font-weight-bold.mb-4 Чаты
    input.search.pl-3(type="text"  placeholder="Поиск по контактам")
        .messages
            h6.text-muted.pt-3rem Вениамин Редакторович
            ul
                li.contact-li.d-flex.mb-4
                    img.avatar(src=""images/avatar_4.jpg"" alt="Avatar")
                    div.pl-1-5rem
                        a.contact-name(href="#")
                        p.contact-status.m-0.text-responsive-80