.left-side.row.scroll.white-bg.m-0.pt-3rem.flex-column.flex-nowrap#profile.tab-pane.fade(role="tabpanel" aria-labelledby="nav-profile-tab")
    h2.font-weight-bold.mb-4 Профиль
    input.search.pl-3(type="text" placeholder="Поиск по сообщениям")
    .profile.border-t
        .profile-card.card.align-center.px-3
            img(src="images/avatar_1.jpg", alt="Avatar" height="90" width="90")
            a.contact-name.py-3(href="#") Кодовёнок Хекслетович
            p.m-0.text-muted.text-center Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
        .list-profile-group
            ul.list-group
                li.list-group-item
                    .list-text
                        p.m-0.text-muted Страна
                        p.m-0 Москва, Россия
                    img(src="images/icons/www.png", alt="www" weight="16" height="16")
                li.list-group-item
                    .list-text
                        p.m-0.text-muted Телефон
                        p.m-0 +7 (499) 123-45-67
                    img(src="images/icons/phone.png", alt="Phone" weight="16" height="16")
                li.list-group-item
                    .list-text
                        p.m-0.text-muted Email
                        p.m-0 nikita.m@hexlet.io
                    img(src="images/icons/email.png", alt="Phone" weight="16" height="16")
                li.list-group-item
                    .list-text
                        p.m-0.text-muted Twitter
                        p.m-0 @n__mikhaylov
                    img(src="images/icons/peoples.png", alt="Phone" weight="16" height="12")
                    
