form.message-form.border-lg-top(action="#") 
    input(type="text" placeholder="Напишите сообщение...")
    button.send.primary-bg
        img(src="images/icons/send.png", alt="Send Icon" width="24" height="24" )