form.message-form.border-lg-top(action="#") 
    input.h-100(type="text" placeholder="Напишите сообщение...")
    button.send.primary-bg.mr-2
        img(src="images/icons/send.png", alt="Send Icon" width="21" height="21" )