.border-right {
  border-right: 1px solid #efefef;
}

.h-100vh {
  height: 100vh;
}

.gray-bg {
  background: #efefef;
}

.white-bg {
  background: white;
}

.light {
  color: #fbfbfb;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pt-3rem {
  padding-top: 3rem;
}

.py-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.primary {
  background: #4545a5;
}

.header {
  margin: 0;
  height: 72px;
  width: 100%;
  border-radius: 1rem 0 0 0;
  font-size: 12.8px;
  padding: 24px;
}

.gray-bg {
  background-color: #efefef;
}

@media only screen and (max-width: 1600px) {
  .xxl {
    max-width: 1600px;
    width: 1540px;
    margin: 0 auto;
  }
}

body {
  margin: 0 auto;
  overflow: hidden;
}

.search {
  border: none;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.contact::-webkit-scrollbar {
  display: none;
}

li {
  list-style-type: none;
}

li img {
  width: 50px;
  height: 50px;
  border: 50%;
}
